.filterDropdown {
  padding: 2rem 1rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid gray;
  flex-wrap: wrap;

  &__item {
    cursor: pointer;
    background: gray;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 2rem;
  }

  &__dropdown {
    padding: 1rem;
  }

  &__toggle {
    font-size: 1.4rem;
    overflow-wrap: break-word;
  }

  &__dropdownItem {
    font-size: 1.4rem;
  }

}

@media only screen and (max-width: 576px) {
  .filterDropdown {
    &__item {
      font-size: 1.2rem;
    }
  }
}
