.navigation {
  background: $navigation-color;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  font-weight: bold;
  background: #001f33;
  box-shadow: 0 2px 0 0 darkslategrey;

  &__icon {
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;
  }

  &__search {
    background: transparent;
    font-size: 2rem;
    color: white;
    border: none;
    width: 80%;

    &:focus {
      border: none;
      outline: none;
    }
  }

}