.personPage {
  padding: 2rem;
  width: 100%;
  height: 100%;
  background: #000133;
  overflow-y: scroll;
  max-height: 100vh;

  &__content {
    display: flex;
    flex-direction: row;
  }

  &__name {
    font-weight: bold;
    font-size: 3rem;
    line-height: 4rem;
  }

  &__information {
    padding: 0 2rem;
    max-width: calc(100vw - 45rem);
  }

  &__profile {
    border-radius: 1rem;
    margin-bottom: 4rem;
    max-height: 450px;
    max-width: 300px;
    width: 100%;
  }

  &__paragraph {
    margin-bottom: 1.5rem;
    color: lightgray;
  }

  &__knownFor {
    border-radius: 2rem;
    margin-bottom: 10rem;
  }

  &__shows {
    display: flex;
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 1200px) {
  .personPage {
    &__information {
      max-width: calc(100vw - 35rem);
    }
    &__profile {
      width: 20rem;
      height: 30rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .personPage {
    &__content {
      flex-direction: column;
      text-align: center;
    }

    &__information {
      max-width: calc(100vw - 15rem);
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &__profile {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (max-width: 576px) {
  .personPage {
    padding: 0 1rem;

    &__information {
      max-width: calc(100vw - 4rem);
    }
  }
}